<a href="https://colab.research.google.com/github/vis7/recommendation_system/blob/main/tensorflow_recommender_tutorial/movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# installation
!pip install -q tensorflow-recommenders
!pip install -q --upgrade tensorflow-datasets

     |████████████████████████████████| 85 kB 2.8 MB/s
     |████████████████████████████████| 4.0 MB 5.4 MB/s

In [2]:
from typing import Dict, Text

import numpy as np
import tensorflow as tf

import tensorflow_datasets as tfds
import tensorflow_recommenders as tfrs

Below we are loading two diffrent part of the same dataset so we can get info with any of the part (ratings or movies)

In [22]:
# loading data
ratings, ratings_info = tfds.load('movielens/100k-ratings', split='train', with_info=True)
movies, movies_info = tfds.load('movielens/100k-movies', split='train', with_info=True)

In [23]:
# printing basic details about dataset
print('movies info')
print(movies_info)

movies info
tfds.core.DatasetInfo(
    name='movielens',
    full_name='movielens/100k-movies/0.1.0',
    description="""
    This dataset contains a set of movie ratings from the MovieLens website, a movie
    recommendation service. This dataset was collected and maintained by [GroupLens]
    (https://grouplens.org/), a research group at the University of Minnesota. There
    are 5 versions included: "25m", "latest-small", "100k", "1m", "20m". In all
    datasets, the movies data and ratings data are joined on "movieId". The 25m
    dataset, latest-small dataset, and 20m dataset contain only movie data and
    rating data. The 1m dataset and 100k dataset contain demographic data in
    addition to movie and rating data.

    - "25m": This is the latest stable version of the MovieLens dataset. It is
    recommended for research purposes.
    - "latest-small": This is a small subset of the latest version of the MovieLens
    dataset. It is changed and updated over time by GroupLens.
    - "100k": This is the oldest version of the MovieLens datasets. It is a small
    dataset with demographic data.
    - "1m": This is the largest MovieLens dataset that contains demographic data.
    - "20m": This is one of the most used MovieLens datasets in academic papers
    along with the 1m dataset.

    For each version, users can view either only the movies data by adding the
    "-movies" suffix (e.g. "25m-movies") or the ratings data joined with the movies
    data (and users data in the 1m and 100k datasets) by adding the "-ratings"
    suffix (e.g. "25m-ratings").

    The features below are included in all versions with the "-ratings" suffix.

    - "movie_id": a unique identifier of the rated movie
    - "movie_title": the title of the rated movie with the release year in
    parentheses
    - "movie_genres": a sequence of genres to which the rated movie belongs
    - "user_id": a unique identifier of the user who made the rating
    - "user_rating": the score of the rating on a five-star scale
    - "timestamp": the timestamp of the ratings, represented in seconds since
    midnight Coordinated Universal Time (UTC) of January 1, 1970

    The "100k-ratings" and "1m-ratings" versions in addition include the following
    demographic features.

    - "user_gender": gender of the user who made the rating; a true value
    corresponds to male
    - "bucketized_user_age": bucketized age values of the user who made the rating,
    the values and the corresponding ranges are:
      - 1: "Under 18"
      - 18: "18-24"
      - 25: "25-34"
      - 35: "35-44"
      - 45: "45-49"
      - 50: "50-55"
      - 56: "56+"
    - "user_occupation_label": the occupation of the user who made the rating
    represented by an integer-encoded label; labels are preprocessed to be
    consistent across different versions
    - "user_occupation_text": the occupation of the user who made the rating in
    the original string; different versions can have different set of raw text
    labels
    - "user_zip_code": the zip code of the user who made the rating

    In addition, the "100k-ratings" dataset would also have a feature "raw_user_age"
    which is the exact ages of the users who made the rating

    Datasets with the "-movies" suffix contain only "movie_id", "movie_title", and
    "movie_genres" features.
    """,
    config_description="""
    This dataset contains data of 1,682 movies rated in the 100k
    dataset.
    """,
    homepage='https://grouplens.org/datasets/movielens/',
    data_path='/root/tensorflow_datasets/movielens/100k-movies/0.1.0',
    download_size=4.70 MiB,
    dataset_size=150.35 KiB,
    features=FeaturesDict({
        'movie_genres': Sequence(ClassLabel(shape=(), dtype=tf.int64, num_classes=21)),
        'movie_id': tf.string,
        'movie_title': tf.string,
    }),
    supervised_keys=None,
    disable_shuffling=False,
    splits={
        'train': <SplitInfo num_examples=1682, num_shards=1>,
    },
    citation="""@article{10.1145/2827872,
    author = {Harper, F. Maxwell and Konstan, Joseph A.},
    title = {The MovieLens Datasets: History and Context},
    year = {2015},
    issue_date = {January 2016},
    publisher = {Association for Computing Machinery},
    address = {New York, NY, USA},
    volume = {5},
    number = {4},
    issn = {2160-6455},
    url = {https://doi.org/10.1145/2827872},
    doi = {10.1145/2827872},
    journal = {ACM Trans. Interact. Intell. Syst.},
    month = dec,
    articleno = {19},
    numpages = {19},
    keywords = {Datasets, recommendations, ratings, MovieLens}
    }""",
)

In [24]:
# showing some examples from the dataset
# when passing info then it show categorical variable alogn with it's respective integer representation
tfds.as_dataframe(ratings.take(4), ratings_info)

   bucketized_user_age movie_genres  ... user_rating user_zip_code
0                 45.0          [7]  ...         4.0      b'53211'
1                 25.0      [4, 14]  ...         2.0      b'80525'
2                 18.0          [4]  ...         4.0      b'55439'
3                 50.0       [5, 7]  ...         4.0      b'06472'

[4 rows x 12 columns]

In [25]:
tfds.as_dataframe(movies.take(4), movies_info)

  movie_genres movie_id                      movie_title
0          [4]  b'1681'           b'You So Crazy (1994)'
1       [4, 7]  b'1457'   b'Love Is All There Is (1996)'
2       [1, 3]   b'500'          b'Fly Away Home (1996)'
3          [0]   b'838'  b'In the Line of Duty 2 (1987)'

In [26]:
# selecting basic feature
ratings = ratings.map(lambda x:{
    'movie_title': x['movie_title'],
    'user_id': x['user_id']
})

movies = movies.map(lambda x: x['movie_title'])

After selecting only necessory features

In [30]:
tfds.as_dataframe(ratings.take(4), ratings_info)

                                 movie_title user_id
0  b"One Flew Over the Cuckoo's Nest (1975)"  b'138'
1                b'Strictly Ballroom (1992)'   b'92'
2             b'Very Brady Sequel, A (1996)'  b'301'
3                     b'Pulp Fiction (1994)'   b'60'

In [31]:
tfds.as_dataframe(movies.take(4), movies_info)

0           b'You So Crazy (1994)'
1   b'Love Is All There Is (1996)'
2          b'Fly Away Home (1996)'
3  b'In the Line of Duty 2 (1987)'

In [29]:
# creating integer indices from string lookup
user_ids_vocabulary = tf.keras.layers.StringLookup(mask_token=None)
user_ids_vocabulary.adapt(ratings.map(lambda x:x['user_id']))

movie_title_vocabulary = tf.keras.layers.StringLookup(mask_token=None)
movie_title_vocabulary.adapt(movies)

In [35]:
user_ids_vocabulary.get_vocabulary()[:5]

['[UNK]', '405', '655', '13', '450']

In [38]:
movie_title_vocabulary.get_vocabulary()[:5]

['[UNK]',
 "Ulee's Gold (1997)",
 'That Darn Cat! (1997)',
 'Substance of Fire, The (1996)',
 'Sliding Doors (1998)']

In [39]:
# using vocabulary and getting original records
test_movies = ['That Darn Cat! (1997)', 'Substance of Fire, The (1996)']
movie_title_vocabulary(test_movies) # you will get respective indexes

In [42]:
# definging a model
class MovieLensModel(tfrs.Model):
  def __init__(
      self,
      user_model: tf.keras.Model,
      movie_model: tf.keras.Model,
      task: tfrs.tasks.Retrieval
  ):
    super().__init__()
    self.user_model = user_model
    self.movie_model = movie_model
    self.task = task
  
  def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:
    user_embeddings = self.user_model(features['user_id'])
    movie_embeddings = self.movie_model(features['movie_title'])
    return self.task(user_embeddings, movie_embeddings)

In [43]:
user_model = tf.keras.Sequential([
    user_ids_vocabulary,
    tf.keras.layers.Embedding(user_ids_vocabulary.vocab_size(), 64)
])

movie_model = tf.keras.Sequential([
    movie_title_vocabulary,
    tf.keras.layers.Embedding(movie_title_vocabulary.vocab_size(), 64)
])

task = tfrs.tasks.Retrieval(metrics=tfrs.metrics.FactorizedTopK(
    movies.batch(128).map(movie_model)
  )
)

WARNING:tensorflow:vocab_size is deprecated, please use vocabulary_size.

WARNING:tensorflow:vocab_size is deprecated, please use vocabulary_size.

WARNING:tensorflow:vocab_size is deprecated, please use vocabulary_size.

WARNING:tensorflow:vocab_size is deprecated, please use vocabulary_size.

In [44]:
# creating retrieval model
model = MovieLensModel(user_model, movie_model, task)
model.compile(optimizer=tf.keras.optimizers.Adagrad(0.5))

In [45]:
# train for 3 epochs
model.fit(ratings.batch(4096), epochs=3)

Epoch 1/3
25/25 [==============================] - 17s 558ms/step - factorized_top_k/top_1_categorical_accuracy: 9.0000e-05 - factorized_top_k/top_5_categorical_accuracy: 0.0016 - factorized_top_k/top_10_categorical_accuracy: 0.0052 - factorized_top_k/top_50_categorical_accuracy: 0.0450 - factorized_top_k/top_100_categorical_accuracy: 0.1000 - loss: 33107.5488 - regularization_loss: 0.0000e+00 - total_loss: 33107.5488
Epoch 2/3
25/25 [==============================] - 14s 561ms/step - factorized_top_k/top_1_categorical_accuracy: 1.4000e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0052 - factorized_top_k/top_10_categorical_accuracy: 0.0148 - factorized_top_k/top_50_categorical_accuracy: 0.1057 - factorized_top_k/top_100_categorical_accuracy: 0.2113 - loss: 31008.3727 - regularization_loss: 0.0000e+00 - total_loss: 31008.3727
Epoch 3/3
25/25 [==============================] - 15s 577ms/step - factorized_top_k/top_1_categorical_accuracy: 3.2000e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0082 - factorized_top_k/top_10_categorical_accuracy: 0.0227 - factorized_top_k/top_50_categorical_accuracy: 0.1443 - factorized_top_k/top_100_categorical_accuracy: 0.2681 - loss: 30417.9292 - regularization_loss: 0.0000e+00 - total_loss: 30417.9292

In [ ]:
# use brute-force search to set up retrival using the trained representations
index = tfrs.layers.factorized_top_k.BruteForce(model.user_model)
index.index_from_dataset(
    movies.batch(100).map(lambda title: (title, model.movie_model(title)))
)

In [ ]:
# getting some recommendations
_, titles = index(np.array(["42"]))
print(f"top k recommendations for user 42: {titles[0,:3]}")

top k recommendations for user 42: [b'Rent-a-Kid (1995)' b'Just Cause (1995)' b'House Arrest (1996)']